////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////
body {
font-size: 16px;
font-family: 'Ubuntu', sans-serif;
background-color: $cream;
}

header {
background-color: $blue;
border-bottom: 5px solid $tan;
}

h1, h2, h3, h4, h5 , h6, .site-name, #page-title {
font-family: 'Libre Baskerville', serif;
}
