////////////////////////
// Variables Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

$blue: #305FC9;
$cream: #FFF2D4;
$tan: #B0A07B;
$green: #6E913A;
$yellow: #FFBF29;


